.navbar {
    border-bottom: 2px solid rgb(255, 63, 0);
    background-color: rgba(0, 0, 0, 0.8)
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.8)
}

.navbar .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.25);

}

.navbar .navbar-brand {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 180%;
}

.navbar .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.25);
}
.carousel-indicators .active{
    background-color: rgb(255, 63, 0);
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

.footer {
    color: rgba(255, 255, 255, .6);
    ;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: rgba(0, 0, 0, .5);
}
