.navbar{
  background-color: rgba(64, 64, 64, 0.5)
}

.carousel-caption{
	background-color: rgba(64, 64, 64, 0.5)
}

.navbar-brand:hover{
  color: rgba(0,0,0,.5);
}

.navbar .navbar-brand{
  color: white;
}

.navbar .navbar-nav .nav-link{
  color: white;
}


